<head>
    <body>
        <p>Ask your question</p>
        <form action="/answer">
            <input type="text" name="answer">
            <input type="submit" value="Ask!">
        </form>
    </body>
</head>