// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    color: white;
    background-color: grey;
    margin: 30px;
    border-radius: 5px;
}

#answer {
    font-weight: bold;
}